@page "/Stats"
@using System.Text.Json

<PageTitle>NFL Team Data</PageTitle>

<h1>NFL Team Stats</h1>

<br />
<a href="#" class="btn btn-sm btn-danger">HomePage</a>
<br />

@if (StatList == null)
{
    <p>Loading...Stats</p>
}
else
{
    <div style="max-height: 600px; overflow-y: auto;">

        <table class="table table-striped table-bordered align-top bg-light">
            <thead>
                <tr>
                    <th>Team ID</th>
                    <th>Team Name</th>
                    <th>Rank</th>
                    <th>Total Win</th>
                    <th>Total Lost</th>
                    <th>Total Points</th>
                    <th>Total Touch Downs</th>
                    <th>Total Passing Yds</th>
                    <th>Total Rushing Yds</th>
                    <th>Total Yds</th>
                    <th>Total Penalties</th>
                    <th>Total Penalties Yds</th>
                    <th>Total TurnOver</th>
                    <th>Total Fumbles</th>
                    <th>Total Intercepted</th>
                    <th>Total 2 Points</th>
                    <th>Total 2 Point Missed</th>
                    <th>Total Extra Point</th>
                    <th>Total Extra Point Missed</th>
                    <th>Total Safeties Scored</th>
                    <th>Total Points Per Game</th>
                    <th>PlayOff 2023</th>
                    <th>SuperBowl 2023</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var s in StatList)
                {
                    <tr>
                        <td>@s.TeamID</td>
                        <td>@s.TeamName</td>
                        <td>@s.Rank</td>
                        <td>@s.TotalWin</td>
                        <td>@s.TotalLost</td>
                        <td>@s.TotalPoints</td>
                        <td>@s.TouchDowns</td>
                        <td>@s.PassingYds</td>
                        <td>@s.RushingYds</td>
                        <td>@s.TotalYds</td>
                        <td>@s.Penalties</td>
                        <td>@s.TotalPenaltiesYds</td>
                        <td>@s.TotalTurnOver</td>
                        <td>@s.TotalFumbles</td>
                        <td>@s.TotalIntercepted</td>
                        <td>@s._2Point</td>
                        <td>@s._2PointMissed</td>
                        <td>@s.ExtraPoint</td>
                        <td>@s.ExtraPointMissed</td>
                        <td>@s.SafetiesScored</td>
                        <td>@s.PointsPerGame</td>
                        <td>@s.PlayOff2023</td>
                        <td>@s.SuperBowl2023</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    <form>
        <label>
            Search by ID:
        </label>
        <input type="text" @bind="statID" />
        <button type="button" class="btn btn-warning" @onclick=GetStat>SUBMIT></button>
    </form>
}

@code
{
    private class NFLteamStat
    {
        public string? TeamID { get; set; }
        public string? TeamName { get; set; }
        public int Rank { get; set; }
        public int TotalWin { get; set; }
        public int TotalLost { get; set; }
        public int TotalPoints { get; set; }
        public int TouchDowns { get; set; }
        public int PassingYds { get; set; }
        public int RushingYds { get; set; }
        public int TotalYds { get; set; }
        public int Penalties { get; set; }
        public int TotalPenaltiesYds { get; set; }
        public int TotalTurnOver { get; set; }
        public int TotalFumbles { get; set; }
        public int TotalIntercepted { get; set; }
        public int _2Point { get; set; }
        public int _2PointMissed { get; set; }
        public int ExtraPoint { get; set; }
        public int ExtraPointMissed { get; set; }
        public int SafetiesScored { get; set; }
        public int PointsPerGame { get; set; }
        public string? PlayOff2023 { get; set; }
        public string? SuperBowl2023 { get; set; }

    }
    private List<NFLteamStat> StatList;
    private string statID;

    string API_URI = "https://localhost:7275/api/BlackHatsApp/";

    protected override async Task OnInitializedAsync()
    {
        HttpClient httpClient = new HttpClient();
        HttpResponseMessage response = await httpClient.GetAsync(API_URI + "GetNFLTeamStats");
        httpClient.Dispose();
        using var responseStream = await response.Content.ReadAsStreamAsync();
        StatList = await JsonSerializer.DeserializeAsync<List<NFLteamStat>>(responseStream);
    }

    public async Task GetStat()
    {
        HttpClient httpClient1 = new HttpClient();
        HttpClient httpClient = httpClient1;
        HttpResponseMessage response = await httpClient.GetAsync(API_URI + "GetNFLTeamStats");
        httpClient.Dispose();
        using var responseStream = await response.Content.ReadAsStreamAsync();
        var searchStat = await JsonSerializer.DeserializeAsync<List<NFLteamStat>>(responseStream);
        StatList = searchStat.Where(teamList => teamList.TeamID == statID).ToList();
    }
}

